<div style="background-color:#65c1f2;height:70%;width:60%;margin-left:20%;margin-top:5%;padding:5%">
  <h1 style="text-align:center">Insert Information</h1>
  <h3>farhad</h3>
  <input type="text" name="" value="" ng-model="farhad.name">

  <h3>Name</h3>
  <input type="text" name="" value="" ng-model="personalData.name">
  <h3>Age</h3>
  <input type="text" name="" value="" ng-model="personalData.age">
  <h3>Phone</h3>
  <input type="text" name="" value="" ng-model="personalData.phone">
  <br><br>
  <button type="button" name="button" ng-click="save()">save</button>
  <br>
</div>
